{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="hero">
    <h1>Hi {{ user.username }}, here are your <span class="highlight">stories</span></h1>
</div>

<div id="user.profile">
    <h2>{{ user.username }}</h2>
    {% if user.get_full_name %}
        <h3>{{ user.get_full_name }} &lt;{{ user.email }}&gt;</h3>
    {% else %}
        {{ user.email }}
    {% endif %}
    
    {% comment %} {% if user.image %}
        <img src="{{ user.image }}">
    {% else %}
        <img src="{% static /user/deafault.jpg}">
    {% endif %} {% endcomment %}

</div>

<div>
        {% for story in user_story %}
        <h2><a href="{% url 'news:story' story.id %}"> {{ story.title }}, <br> {{ story.author.username }} </a></h2>  
        {% endfor %}
</div>

{% endblock %}
