{% extends 'base.html' %}

{% load static %}

{% block stylesheets %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'news/debug.css' %}"> {% endcomment %}
{% endblock %}
{% block content %}

<div class="hero">
    <h1>Be <span class="hero-highlight">courageous</span> and try to 
        <span class="hero-highlight">write</span> in a way that <span class="hero-highlight">scares you a little</span></h1>
</div>
<container>
<div class="profile-section">
        <h2>{{ customuser.username }}</h2>
        {% if customuser.get_full_name %}
            <h3>{{ customuser.get_full_name }} &lt;{{ customuser.email }}&gt;</h3>
        {% else %}
            {{ customuser.email }}
        {% endif %}
    
        {% if customuser.profile_image %}
            <img class="profile-img" src="{{ customuser.profile_image }}">
        {% else %}
            <img class="profile-img" src="https://picsum.photos/600">
        {% endif %} 
    {% comment %} </div> {% endcomment %}

    <div class="page-sub-right">
        <h2>Change profile</h2>
        <a href="{% url 'users:ammendProfile' customuser.id %}"><button>Change here</button></a>
   </div>
</div>
</container>

<container class="profile-stories-section">
<div class=" profile-container">
        <div class="story-container-item">
            {% for story in customuser.newsstory_set.all %}
            <a href="{% url 'news:story' story.id %}"> 
                {% if story.image %}
                <img class="profile-img" src="{{ story.image }}">
            {% else %}
                <img class="profile-img" src="https://picsum.photos/600"><br>
            {% endif %} 
            <h2>Story Title | {{ story.title }}, <br> Story Category | {{ story.category }} </a></h2> <br>
                <p>{{ story.content|truncatechars:255 }}</p>  
            {% endfor %}
        </div>
</div>
</container>


<section>
    <footer class="footer">
    &copy; Copyright 2022 Maria Claydon | For She Codes Australia
</footer>
</section>

{% endblock %}



