{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="">
        <meta name="author" content="Maria Claydon">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}

        {% endblock %}
    </head>

    <body>
        <header>
            <div id="header-text">
                <a id="header-link" class="header" href="{% url 'news:index' %}">
                    <h1 class="title-text">She <span class="highlight-text">{Codes}</span> News</h1>
                </a>
            </div>
            <!-- include nav here -->
            {% include './nav.html' %}
        </header>

        {% block content %}{% endblock %}
    </body>
</html>
