{% load static %}
{% block content %}
<div class="socials">
    <ul class="social-menu">
        <li class="social-item">
            <img src="{% static '/news/images/icons8-facebook-500.png' %}" alt="facebook">
        </li>
        <li class="social-item">
            <img src="{% static '/news/images/icons8-instagram-500.png' %}" alt="instagram">
        </li>
        <li class="social-item">
            <img src="{% static '/news/images/icons8-linkedin-500.png' %}" alt="linkedin">
        </li>
        <li class="social-item">
            <img src="{% static '/news/images/icons8-slack-new-500.png' %}" alt="slack">
        </li>
        <li class="social-item">
            <img src="{% static '/news/images/icons8-twitter-500.png' %}" alt="twitter">
        </li>
    </ul> 
</div>
<div>
</div>

{% endblock content %}
