.story-section {
    display: inline-block;
    margin-right: 0;
    width: 100%;
}

.story-container {
    display: flex;
}

.story-card {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    max-width: 100%;
}
.story-card-p{
    width: 250px;
    text-align: center;
    color: var(--light-font);
}
.story-container-item {
    box-shadow: var(--box-shadow-main);
    border-radius: 20px;
    justify-content: center;
    width: 700px;
    height: 400px;
}

.story-container-item:hover {
    box-shadow: var(--box-shadow-secondary);
}

.story-card-text {
    text-align: center;
    margin: 12px;
    color: var(--dark-font);
}

.story-card img,
.profile-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 360px;
    padding: 50px;
}

.story-header {
    display: block;
    padding: 20px;
    margin-left : 100px;
}

.welcome-back {
    font-size: 20px;
}

.highlight {
    font-family: var(--);
}

.story-content,
.story-title,
.story-author {
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-font);
    margin: 100px;
}

.story-title {
    color: var(--secondary-color);
    border-bottom: 2px var(--dark-font) solid;
}

.story-title,
.highlight-text-login {
    font-size: 50px;
}

.highlight-text-login {
    margin: 0 auto;
}

.profile-section {
    display: block;
    flex-flow: column space-between;
    margin-bottom: 100px;
    padding: 100px;
}
.profile-container {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    padding: 50px;
    background-color: rgb(250, 237, 210);
    text-align: center;
    justify-content: center;
}

.profile-container p {
    color: var(--secondary-color)
}

.profile-info,
.profile-info h3 {
    margin-left: 100px;
    color: var(--dark-font)
}
