{% extends "base.html" %}
{% block content %}
<div class="hero">
    <h1>Only the human mind invents <span class="hero-highlight">categories</span> and tries to force 
        facts into separated pigeonholes.</h1>
</div>

    <h1 class="heading-text">You're viewing stories about | {{category}}</h1>
    <br>
    <section class="story-section">
        <container class="story-container">
            <section class="story-card">       
                <div class="story-card">   
                    {% if category.stories.all %}
                        {% for story in category.stories.all %}
                            {% include "./storyCard.html" with story=story %}
                        {% endfor %}
                    {% else %}
                        <p>No stories are available.</p>
                    {% endif %}
                </div>
            </section>
        </container>
       
    </section>

    <footer class="footer">
        {% include './footer.html'%}
    </footer>
{% endblock %}
