{% extends "base.html" %}
{% load static %}    

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'news/debug.css' %}"> {% endcomment %}

{% endblock %}

{% block content %}

<section>
    {% include './news-hero.html'%}
</section>

<container class="story-header">
    <h2 class="heading-text">Latest News</h2>
    {% if request.user.is_authenticated %}
    <section>
     <a class="welcome-back" href="{% url 'news:newStory' %}"><h2>Welcome Back, {{request.user.username}}!</h2>   
        <button>Write a new story</button></a>
    </section>
    {% endif %}
</container>

<section class="story-section">
    <container class="story-container">
        <section class="story-card">       
            <div class="story-card">          
                {% if latest_stories %}
                    {% for story in latest_stories %}
                        {% include "./storyCard.html" with story=story position=forloop.counter %}                     
                    {% endfor %}
                {% else %}
                    <p>No stories are available.</p>
                {% endif %}
            </div>
        </section>
    </container>
</section>

<container class="story-header">
    <h2 class="heading-text">All Stories</h2>
</container>
<section class="story-section">
    <container class="story-container">
        <section class="story-card">       
            <div class="story-card">   
                {% if all_stories %}
                    {% for story in all_stories %}
                        {% include "./storyCard.html" with story=story %}
                    {% endfor %}
                {% else %}
                    <p>No stories are available.</p>
                {% endif %}
            </div>
        </section>
    </container>
    <section class="footer">
    {% include './footer.html'%}
    </section>
</section>
  
{% endblock content %} 
