
<div class="story-card" id="story-card-{{ position }}">
    <a href="{% url 'news:story' story.id %}">
      {% if story.image %}
            <img src="{{ story.image }}">
        {% else %}
            <img src="https://picsum.photos/600">
        {% endif %} 
        <div class="story-card-text">
            <container class="container">
                <h3>{{ story.title }}</h3><a href="{% url 'users:profile' story.author.id %}">
                <h4>Written by | {{ story.author }}</h4>
                <h4>Published | {{ story.pub_date }}</h4>
                <h4>Category | {{ story.category}}</h4>
    
                {% if request.user.is_authenticated %}
                <button class="story-button"><a href="{% url 'news:ammend' story.id %}">Edit this story</a></button>
                <br>
               {% endif %}
                <!-- Add an delete button for logged in users -->
               {% if request.user.is_authenticated %}
                <button class="story-button"><a href="{% url 'news:delete' story.id %}">Delete</a></button>
               {% endif %}
               
            </container>
        </div>
    </a>
</div>
