{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div class="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>{{ story.author }}</h4>
    <div class="story-content">
        {% comment %} <img src="https://picsum.photos/600"> {% endcomment %}
        {{ story.content|linebreaks }}
    </div>
    {% for post in list_of_posts %}
        {{ post.title }}
        <img src="{{ story.image }}"
        {% endfor %}
</div>

{% endblock %}
